.App {
  text-align: center;
}

.prediction{
  /* height:200px; */
  /* width:300px; */
  overflow:auto;
  background-color:black;
  color:white;
  scrollbar-base-color:gold;
  font-family:sans-serif;
  padding:10px;
}

table{
  cellspacing: 50px;
}

body  {
  background-image: url("https://wi-images.condecdn.net/image/doEYpG6Xd87/crop/2040/f/weather.jpg");
  background-color: #cccccc;
}